@tailwind base;
@tailwind components;
@tailwind utilities;

/* b2f6f4 */
/* d3efee */
.center-radial-bg {
  background: radial-gradient(circle, #b2f6f4 15%, #d3efee 45%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
}

.collapsed {
  margin-left: 80px;
  transition: margin-left 0.3s;
}

.ant-table-body {
  scrollbar-width: none;
}

.not-collapsed {
  margin-left: 200px;
  transition: margin-left 0.3s;
}

.collapsed-img {
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

.not-collapsed-img {
  width: 90px;
  height: 90px;
  transition: all 0.3s;
}

.gradient-text {
  background: linear-gradient(90deg, #00cccc, #6ee7b7 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0 10px; /* Add some padding */
  box-sizing: border-box; /* Ensure padding doesn't affect overall dimensions */
}

.select-button-not-selected {
  background: #baf7f0;
  color: #004d3d;
  border: #14B8A6 1px solid;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.select-button-not-selected:hover {
  background: #8cf2e6;
}

.select-button-selected {
  background: #14B8A6;
  color: #e6fffa;
  border: #14B8A6 1px solid;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}

.select-button-selected:hover {
  background: #0f8a7b;
}

.resort-card {
  transition: all 0.3s !important;
}

[data-rsbs-backdrop] {
  z-index: 100 !important;
}

[data-rsbs-overlay] {
  z-index: 110 !important;
}

@media (max-width:1000px) {
  .info-page {
    object-fit: cover;
    margin-bottom: -410px;
    background-attachment:fixed;
    background-position:top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px !important;
    background-color: #004d3d;
  }
}

@media (min-width:1000px) {
  .info-page {
    object-fit: fill;
    margin-bottom: -150px;
    /* background-image: url('./../pic.jpg'); */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px !important;
  }
}


.info-content {
  font-size: larger;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.info {
  background-color: white;
}

.info-content strong {
  font-size: larger;
}

.info-content div {
  margin-bottom: 2%;
}

.testing {
  background-image: linear-gradient(to bottom,
      transparent,
      transparent 10px,
      /* adjust as needed */
      rgb(255, 255, 255) 80px,
      rgb(255, 255, 255) 100%);
  ;
}

.scroll-up {
  
  animation: scrollUp 1s forwards;

}

@keyframes scrollUp {
  0% {
    height: 30vh;
  }
  100% {
    height: 10vh;
  }
}

@keyframes moveRight {
  0% {
    margin-left: 7%;
  }
  100% {
    margin-left: 15%;
  }
}